body{
    background: url(img/IMG_20221030_194657_577_edit_81399086350078.jpg) no-repeat;
    background-size: 100%;
}
/*links*/
a{
    text-decoration: none;
    color: #FFFFFF;
}
/*nav menu*/
.nav{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
    margin-top: 100px;
}
/*lorem4*/
.name{
    font-family: 'Abril Fatface', cursive;
    font-size: 120px;
    color: #B99267;
    text-align: center;
    margin-top: 50px;
}
/*lorem20*/
.subtitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    color: #FCFCFA;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;

}
/* button 'start' */
.button{
    font-family: 'Josefin Sans', sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    background: linear-gradient(154.43deg, rgba(112, 123, 83, 0.8) 100%, rgba(217, 217, 217, 0) 100%);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    transition: transform .4s;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 100px;
}
.button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
/*field 'find'*/
::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

input, button{
    border: none;
    outline: none;
    background: transparent;
}
input{
    width: 100%;
    height: 42px;
    color: #fff;
    text-align: center;
}
form {
    position: relative;
    width: 500px;
    margin: 0 auto;
    background: linear-gradient(154.43deg, rgba(112, 123, 83, 0.8) 100%, rgba(217, 217, 217, 0) 100%);
    border-radius: 40px;
    border: 1px solid #fff;
    margin-top: 150px;
}
/*manifying glass also known as 'lupa'*/
.man-glass{
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.man-glass:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #B99267;
}
